// --------------------------------------------------
// Config
// --------------------------------------------------
$global-text-direction: rtl;

//
// Colors
// --------------------------------------------------

$black: #000;
$white: #fff;
