<footer class="callout large">
    <div class="row columns">
        {% include components/nav-footer.html %}
        <div class="row">
            <div class="columns medium-6 small-12">
                <p class="subheader">
                    <small>تهران، بلوار افریقا (جردن)، عاطفی غربی، پلاک ۸۱، واحد ۳۰۱</small>
                    <br>
                    <small>تلفن : ۲۶۲۹۱۵۸۳-۰۲۱  فکس : ۸۹۷۷۲۲۸۵-۰۲۱</small>
                </p>
            </div>
        </div>
    </div>
</footer>
{% include foot.html %}