<footer class="callout large">
    <div class="row">
        <div class="medium-4 columns">
            <h5>تیتر</h5>
            {% include components/nav-footer.html %}
        </div>
        <div class="medium-4 columns">
            <h5>تیتر</h5>
        </div>
        <div class="medium-4 columns">
            <h5>تیتر</h5>
        </div>
    </div>
    <div class="row column text-center">
        <p class="subheader">
            <small>کلیه حقوق محفوظ است</small>
            <br>
            <small>۱۳۹۶ - ۱۳۸۴</small>
        </p>
    </div>
</footer>
{% include foot.html %}